doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name="theme-color" content="#ff9800")
		meta(name="msapplication-navbutton-color" content="#ff9800")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="apple-touch-fullscreen" content="yes")
		link(rel="icon" type="image/x-icon" sizes="16x16" href="#")
		link(rel="icon" type="image/x-icon" sizes="32x32" href="#")
		link(rel="icon" type="image/png" sizes="50x50" href="#")
		link(rel="icon" type="image/png" sizes="60x60" href="#")
		link(rel="icon" type="image/png" sizes="72x72" href="#")
		link(rel="icon" type="image/png" sizes="76x76" href="#")
		link(rel="icon" type="image/png" sizes="114x114" href="#")
		link(rel="icon" type="image/png" sizes="120x120" href="#")
		link(rel="icon" type="image/png" sizes="144x144" href="#")
		link(rel="icon" type="image/png" sizes="152x152" href="#")
		meta(name="format-detection" content="telephone=no")
		title Cinarta
		link(rel="stylesheet" href="static/css/main.css")
	body
		svg(style="display:none")
			symbol(id="caret-select" width="12" height="7" viewBox="0 0 12 7" xmlns="http://www.w3.org/2000/svg")
				path(d="M11.7772 0.230869C11.6289 0.0769137 11.4531 0 11.2499 0H0.750056C0.546802 0 0.371088 0.0769137 0.222628 0.230869C0.0741683 0.384994 0 0.567212 0 0.777863C0 0.988471 0.0741683 1.17069 0.222628 1.32469L5.47257 6.76896C5.6212 6.92292 5.79691 7 6 7C6.20309 7 6.37897 6.92292 6.52731 6.76896L11.7772 1.32464C11.9255 1.17069 12 0.988471 12 0.77782C12 0.567212 11.9255 0.384994 11.7772 0.230869Z")
			symbol(id="apple" width="19" height="23")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M13.974 0c.158 1.27-.423 2.542-1.284 3.459-.862.915-2.275 1.627-3.66 1.533-.187-1.244.512-2.54 1.31-3.352C11.23.725 12.735.044 13.975 0zm4.398 8.247c-.24.142-2.532 1.505-2.503 4.255.03 3.315 2.965 4.466 3.125 4.529l.006.002a2.286 2.286 0 0 0-.008.024c-.07.214-.541 1.665-1.608 3.162-.973 1.365-1.98 2.723-3.57 2.751-.765.014-1.275-.198-1.806-.418-.556-.231-1.133-.471-2.047-.471-.957 0-1.562.247-2.145.485-.504.207-.992.406-1.677.433-1.535.054-2.703-1.474-3.683-2.835C.45 17.384-1.081 12.306.976 8.878c1.02-1.702 2.847-2.78 4.827-2.808.855-.015 1.682.3 2.406.576.553.21 1.046.399 1.444.399.359 0 .839-.182 1.398-.394.881-.333 1.96-.741 3.07-.633.761.03 2.896.294 4.267 2.22a2.71 2.71 0 0 1-.017.01z" fill="#fff")
			symbol(id="android" width="21" height="24")
				path(d="M1.531 8h-.063C.659 8 0 8.638 0 9.416v6.167C0 16.363.66 17 1.468 17h.064C2.341 17 3 16.362 3 15.583V9.416C2.999 8.638 2.339 8 1.531 8zM4 17.869c0 .726.58 1.317 1.29 1.317h1.378v3.376c0 .793.632 1.438 1.403 1.438h.06c.775 0 1.406-.646 1.406-1.438v-3.376h1.926v3.376c0 .793.634 1.438 1.405 1.438h.06c.774 0 1.404-.646 1.404-1.438v-3.376h1.38c.708 0 1.288-.591 1.288-1.317V8H4v9.869z" fill="#fff")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M13.715 1.961L14.802.344a.217.217 0 0 0-.067-.307.234.234 0 0 0-.32.065l-1.127 1.673a7.595 7.595 0 0 0-2.788-.522c-.998 0-1.941.188-2.789.522L6.586.102a.237.237 0 0 0-.321-.065.218.218 0 0 0-.068.307l1.088 1.617C5.323 2.887 4 4.633 4 6.635A4 4 0 0 0 4.019 7h12.963c.011-.12.018-.241.018-.365 0-2.002-1.324-3.748-3.285-4.674zm-6.22 2.895a.612.612 0 0 1-.624-.6c0-.333.28-.6.624-.6a.61.61 0 0 1 .624.6c0 .333-.28.6-.624.6zm5.385-.6c0 .333.28.6.624.6a.61.61 0 0 0 .623-.6.61.61 0 0 0-.623-.6.611.611 0 0 0-.624.6z" fill="#fff")
				path(d="M19.531 8h-.061C18.661 8 18 8.638 18 9.416v6.167c0 .78.663 1.417 1.47 1.417h.062c.81 0 1.468-.638 1.468-1.417V9.416C21 8.638 20.34 8 19.531 8z" fill="#fff")
			symbol(id="bubble" width="18" height="18")
				path(d="M16.795 3.732C15.99 2.58 14.9 1.67 13.52 1.002 12.141.334 10.634 0 9 0 7.781 0 6.616.197 5.505.592c-1.112.394-2.07.927-2.873 1.599A7.65 7.65 0 0 0 .713 4.587 6.289 6.289 0 0 0 0 7.499C0 8.67.303 9.768.909 10.79c.606 1.023 1.435 1.883 2.486 2.578-.074.312-.16.61-.261.89-.1.281-.191.512-.271.692-.08.18-.19.379-.327.597a6.059 6.059 0 0 1-.311.463l-.347.445a39.981 39.981 0 0 0-.391.51l-.07.1-.061.105c-.034.059-.049.096-.045.11a.36.36 0 0 1-.02.118c-.017.063-.015.11.005.14v.012c.027.141.085.254.175.34.09.086.193.121.307.105a6.596 6.596 0 0 0 1.145-.257c1.754-.524 3.295-1.469 4.62-2.836.503.063.988.094 1.457.094 1.634 0 3.14-.334 4.52-1.002 1.38-.668 2.471-1.578 3.275-2.73C17.598 10.113 18 8.858 18 7.5c0-1.36-.402-2.615-1.205-3.767z")
			symbol(id="base_edit" width="19" height="19" fill="none" xmlns="http://www.w3.org/2000/svg")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M11.822 1.229a4.184 4.184 0 015.922 0 4.146 4.146 0 011.229 2.96c0 1.119-.437 2.17-1.229 2.962L6.886 18.006a.535.535 0 01-.768 0l-4.374-4.374-.562 4.155L4.06 17.4a.547.547 0 11.146 1.084l-3.59.485c-.025.004-.049.004-.073.004a.552.552 0 01-.384-.162.541.541 0 01-.154-.457l.805-5.958a.543.543 0 01.153-.312L11.822 1.23zm2.033 3.157l-1.823-1.823-9.908 9.908 1.823 1.824 9.908-9.909zM6.505 16.85l-1.782-1.782 9.908-9.909 1.783 1.783-9.908 9.909zM12.813 1.8l4.362 4.362a3.08 3.08 0 00.707-1.973c0-.829-.319-1.609-.905-2.19a3.089 3.089 0 00-2.191-.906c-.728 0-1.42.25-1.973.707z" fill="#0C2A4D")
			symbol(id="base_delete" width="17" height="21" fill="none" xmlns="http://www.w3.org/2000/svg")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M11.307 2.513h3.265a2.399 2.399 0 012.396 2.396v.123c0 1.01-.628 1.874-1.514 2.226v11.32a2.4 2.4 0 01-2.396 2.397h-9.14A2.4 2.4 0 011.52 18.58V7.259A2.399 2.399 0 01.007 5.031V4.91a2.399 2.399 0 012.396-2.396h3.265A2.843 2.843 0 018.488 0c1.455 0 2.657 1.1 2.82 2.513zm-1.148 0a1.706 1.706 0 00-1.671-1.377c-.828 0-1.519.594-1.672 1.377h3.343zm4.159 16.066c0 .694-.566 1.26-1.26 1.26h-9.14c-.695 0-1.26-.566-1.26-1.26V7.429h11.66v11.15zm.254-12.287c.695 0 1.26-.565 1.26-1.26V4.91c0-.694-.565-1.26-1.26-1.26H2.402c-.694 0-1.259.566-1.259 1.26v.123c0 .695.565 1.26 1.26 1.26h12.17z" fill="#E12F2F")
				path(d="M5.441 18.385a.568.568 0 00.568-.568V11.42a.568.568 0 00-1.136 0v6.398c0 .314.254.568.568.568zM8.488 18.385a.568.568 0 00.568-.568V11.42a.568.568 0 00-1.137 0v6.398c0 .314.255.568.569.568zM11.534 18.385a.568.568 0 00.568-.568V11.42a.568.568 0 00-1.136 0v6.398c0 .314.254.568.568.568z" fill="#E12F2F")
			symbol(id="base_eye" width="25" height="15" fill="none" xmlns="http://www.w3.org/2000/svg")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M19.312 1.642a15.413 15.413 0 015.235 4.287c.539.69.539 1.654 0 2.345a15.412 15.412 0 01-5.235 4.286 15.104 15.104 0 01-7.005 1.598 15.104 15.104 0 01-6.62-1.598A15.413 15.413 0 01.452 8.274a1.904 1.904 0 010-2.345 15.413 15.413 0 015.235-4.287A15.105 15.105 0 0112.692.045c2.324.028 4.55.564 6.62 1.597zM1.251 7.651a14.396 14.396 0 004.889 4.003c.538.268 1.087.5 1.646.697A7.043 7.043 0 015.441 7.1c0-2.082.906-3.956 2.345-5.25-.56.197-1.108.43-1.646.698A14.394 14.394 0 001.25 6.552a.892.892 0 000 1.099zM12.5 13.147a6.053 6.053 0 01-6.046-6.046A6.053 6.053 0 0112.5 1.055a6.053 6.053 0 016.046 6.046 6.053 6.053 0 01-6.046 6.046zm6.36-1.493a14.395 14.395 0 004.889-4.003.893.893 0 000-1.1 14.395 14.395 0 00-4.89-4.002c-.537-.269-1.086-.501-1.646-.698a7.043 7.043 0 012.346 5.25 7.043 7.043 0 01-2.344 5.248 14.273 14.273 0 001.645-.695z" fill="#0C2A4D")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M9.913 7.101A2.59 2.59 0 0112.5 4.514 2.59 2.59 0 0115.087 7.1 2.59 2.59 0 0112.5 9.688a2.59 2.59 0 01-2.587-2.587zm1.013 0c0 .868.706 1.574 1.574 1.574.868 0 1.574-.706 1.574-1.574 0-.868-.706-1.574-1.574-1.574-.868 0-1.574.706-1.574 1.574z" fill="#0C2A4D")
			symbol(id="base_eye_blue" width="25" height="16" fill="none" xmlns="http://www.w3.org/2000/svg")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M12.5 0C7.723 0 3.392 2.673.196 7.015c-.261.356-.261.853 0 1.209 3.196 4.347 7.527 7.02 12.304 7.02 4.776 0 9.108-2.673 12.304-7.015.261-.356.261-.853 0-1.209C21.608 2.673 17.277 0 12.5 0zm.343 12.99c-3.171.203-5.79-2.47-5.59-5.719.164-2.678 2.286-4.849 4.904-5.016 3.171-.204 5.79 2.469 5.59 5.717-.169 2.674-2.291 4.845-4.904 5.017zM9.677 7.433c-.112 1.747 1.299 3.186 3.007 3.076 1.407-.09 2.552-1.256 2.644-2.705.113-1.747-1.299-3.186-3.007-3.076-1.412.094-2.557 1.26-2.644 2.705z" fill="#3483E0")
		header#header.page-header
			.wrapper
				.page-header__row
					.page-header__logo
						a(href="index.html")
							img(src="static/img/cinarta.svg", alt="Cinarta")
					nav.page-header__nav
						ul.page__list
							li
								a(href="casting.html") Кастинги
							li
								a(href="cinema.html") Киносфера
							li
								a(href="#") Вакансии
							li
								a(href="partners.html") Партнеры
							li
								a(href="#") Обратная связь
					a.page-header__toggle(href="#" data-toggle="modal" data-target="#header-menu")
						span
					.page-header__user-wrapper
						a.notifications-link(href="#")
							svg.bubble--icon(width="18" height="18")
								use(xlink:href="#bubble")
							span.buble-number 4
						button.button.button--exit(type="button" data-jq-dropdown="#jq-dropdown-1")
							.page-header__user
								.user__photo
									img(src="static/img/katya.png", alt="")
								span.user__name Екатерина 
									br
									| Тутубалина
								svg.exit--icon(width="12" height="7")
									use(xlink:href="#caret-select")
						#jq-dropdown-1.jq-dropdown.jq-dropdown-tip.jq-dropdown-relative.jq-dropdown-anchor-right
							.jq-dropdown-menu.page-header__user-menu
								a(href="activation.html") Подписка
								a(href="profile_info.html") Мой профиль
								a(href="#") Настройки
								a(href="#") Помощь
								a(href="#") Выйти
			.page-header__menu.popup-block#header-menu
				.inner__menu
					a.page-header__toggle.close-button(href="#" data-toggle="dismiss")
						span
					nav.page-header__nav
						ul.page__list
							li
								a(href="casting.html") Кастинги
							li
								a(href="cinema.html") Киносфера
							li
								a(href="#") Вакансии
							li
								a(href="#") Приложение
							li
								a(href="#") Обратная связь
		.main-page-wrap
			.main-page-blocks
				section.actors-card
					.wrapper
						.breadcrumbs
							ul.page__list
								li
									a(href="#") Главная
								li
									a(href="#") Киносфера
								li
									span Актеры
						.actors-card__container
							.actors-card__wrapper
								.actors-card__photos-slider
									.actors-card__photo-slider
										.actors-card__photo-block
											img(src="static/img/alina-photo-2.jpg", alt="")
										.actors-card__photo-block
											img(src="static/img/alina-photo-1.jpg", alt="")
										.actors-card__photo-block
											img(src="static/img/alina-photo-3.jpg", alt="")
										.actors-card__photo-block
											img(src="static/img/alina-photo-2.jpg", alt="")
										.actors-card__photo-block
											img(src="static/img/alina-photo-1.jpg", alt="")
										.actors-card__photo-block
											img(src="static/img/alina-photo-3.jpg", alt="")
										.actors-card__photo-block
											img(src="static/img/alina-photo-2.jpg", alt="")
										.actors-card__photo-block
											img(src="static/img/alina-photo-1.jpg", alt="")
										.actors-card__photo-block
											img(src="static/img/alina-photo-3.jpg", alt="")
										.actors-card__photo-block
											img(src="static/img/alina-photo-2.jpg", alt="")
									.actors-card__slider
										.actors-card__photo
											img(src="static/img/alina-photo-2.jpg", alt="")
										.actors-card__photo
											img(src="static/img/alina-photo-1.jpg", alt="")
										.actors-card__photo
											img(src="static/img/alina-photo-3.jpg", alt="")
										.actors-card__photo
											img(src="static/img/alina-photo-2.jpg", alt="")
										.actors-card__photo
											img(src="static/img/alina-photo-1.jpg", alt="")
										.actors-card__photo
											img(src="static/img/alina-photo-3.jpg", alt="")
										.actors-card__photo
											img(src="static/img/alina-photo-2.jpg", alt="")
										.actors-card__photo
											img(src="static/img/alina-photo-1.jpg", alt="")
										.actors-card__photo
											img(src="static/img/alina-photo-3.jpg", alt="")
								form.actors-card__heading
									.actors-card__body
										h2.page__article Алена Петрова
										a.actors-card__complain(href="#") Пожаловаться
									span.actors-card--id id: 8978
									.actors-card__body-option
										.actors-card__options-block
											.actors-card__options
												span.actors-card__option Страна
												b.actors-card__value Россия
											.actors-card__options
												span.actors-card__option Город
												b.actors-card__value Москва
											.actors-card__options
												span.actors-card__option Возраст
												b.actors-card__value 18-23
										.actors-card__contacts
											a(href="+78887867665") +7 888 786 76 65
											a(href="mailto:email@example.com") email@example.com
									button.button.button--additional-form(type="button" data-toggle="actor-expand") 
										span.add-options Показать доп. параметры
										span.hide-options Скрыть доп. параметры
									.actors-card-additional
										.actors-card__options
											span.actors-card__option Размер одежды
											b.actors-card__value 36
										.actors-card__options
											span.actors-card__option Цвет волос
											b.actors-card__value Руссый
										.actors-card__options
											span.actors-card__option Рост
											b.actors-card__value 180 см
										.actors-card__options
											span.actors-card__option Цвет глаз
											b.actors-card__value серый
										.actors-card__options
											span.actors-card__option Вокал
											b.actors-card__value нет
										.actors-card__options
											span.actors-card__option Вождение
											b.actors-card__value Катерогия B
										.actors-card__options
											span.actors-card__option Языки
											b.actors-card__value Русский
										.actors-card__options
											span.actors-card__option Игровой возраст
											b.actors-card__value 20-35 лет
									p.actors-card__text Оптимист, лентяй-трудоголик, спортсмен-курильщик. Закончил в 2016 году МИТРО, высшее Журналистика. В 2017 курсы радиоведущих. Занимаюсь вокалом, озвучиваю сериалы, снимаюсь в рекламе.
							.actors-card__video-list
								h3.actors-card__video-headline Видео
								.actors-card__video-container
									.actors-card__video-slider
										.actors-card__video
											iframe(src="https://www.youtube.com/embed/8up7Q_LOCuY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
										.actors-card__video
											iframe(src="https://www.youtube.com/embed/KowXNpD-ySs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
										.actors-card__video
											iframe(src="https://www.youtube.com/embed/yuL9cEJIubE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
										.actors-card__video
											iframe(src="https://www.youtube.com/embed/8up7Q_LOCuY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
										.actors-card__video
											iframe(src="https://www.youtube.com/embed/KowXNpD-ySs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
										.actors-card__video
											iframe(src="https://www.youtube.com/embed/yuL9cEJIubE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
							.actors-card__base-reviews-block
								.actors-card__reviews-wrapper
									.actors-card__reviews-heading
										.actors-card__reviews-title Отзывы кастинг-директоров
										.actors-card__reviews-description Пока нет отзывов
								form.actors-card__reviews-form
									.actors-card__reviews-form-title Ваш отзыв
									textarea.actors-card__reviews-textarea(name="reviews_experience" placeholder="Опишите ваш опыт с этим актером")
									.actors-card__reviews-form-wrapper
										button.btn.btn--base-submit(type="button") Отправить
										button.btn.btn--base-cancel(type="button") Отменить
								.actors-card__quarantines-block
									.actors-card__quarantines-heading
										.actors-card__quarantines-title Карантины
										button.btn.btn--base-add(type="button")
											span +
											| Добавить
									.actors-card__quarantines-table-block-wrapper
										.actors-card__quarantines-table-block
											.actors-card__quarantines-table-heading
												.actors-card__quarantines-heading-title Название
												.actors-card__quarantines-heading-start Начало
												.actors-card__quarantines-heading-end Окончание
												.actors-card__quarantines-heading-changed Было изменено
												.actors-card__quarantines-heading-control Управление
											.actors-card__quarantines-table-inner
												.actors-card__quarantines-inner-title 
													span Сериал
													.actors-card__quarantines-inner-title-wrapper
														p 03.10.19 — Екатерина Тутубалина
														p.disabled Было: Проект 1 (28.09.19 - 28.11.19)
														p.disabled Стало: Проект 1 (30.09.19 - 30.11.19)
												.actors-card__quarantines-inner-start 30.09.19
												.actors-card__quarantines-inner-end 30.11.19
												.actors-card__quarantines-inner-changed Да
												.actors-card__quarantines-inner-control
													.actors-card__quarantines-control-wrapper
														a(href="javascript:;")
															svg(width="25" height="16")
																use(xlink:href="#base_eye_blue")
														a(href="javascript:;")
															svg(width="19" height="19")
																use(xlink:href="#base_edit")
														a(href="javascript:;")
															svg(width="17" height="21")
																use(xlink:href="#base_delete")
											.actors-card__quarantines-table-inner
												.actors-card__quarantines-inner-title Сериал
												.actors-card__quarantines-inner-start
													span 30.09.19
												.actors-card__quarantines-inner-end
													span 30.11.19
												.actors-card__quarantines-inner-changed
													span Да
												.actors-card__quarantines-inner-control
													.actors-card__quarantines-control-wrapper
														a(href="javascript:;")
															svg(width="25" height="15")
																use(xlink:href="#base_eye")
														a(href="javascript:;")
															svg(width="19" height="19")
																use(xlink:href="#base_edit")
														a(href="javascript:;")
															svg(width="17" height="21")
																use(xlink:href="#base_delete")
			footer.main-footer
				.wrapper
					.main-footer__container
						.main-footer__content
							.footer__box
								img(src="static/img/footer_cinarta.svg", alt="Логотип")
								p.copyright__text © 2018, «Синарта» поиск исполнителей
							.footer__box
								span.app__title Скачать приложение
								.apps__box
									a.apps__link(href="#")
										svg(width="19" height="23")
											use(xlink:href="#apple")
									a.apps__link(href="#")
										svg(width="21" height="24")
											use(xlink:href="#android")
								a.footer__link(href="#") Пользовательськое соглашение
								a.footer__link(href="#") Политика конфиденциальности
						.footer__box
							a.footer__main-link(href="#") Мой профиль
							a.footer__link(href="entrance.html") Вход
							a.footer__link(href="#") Вакансии
							a.footer__link(href="#") Сообщения
							a.footer__link(href="casting.html") Кастинги
						.footer__box
							a.footer__main-link(href="#") Найти исполнителя
							a.footer__link(href="#") Создать вакансию
							a.footer__link(href="actors_list.html") Найти актера
							a.footer__link(href="create_casting.html") Создать кастинг
							a.footer__link(href="cinema.html") Киносфера
						.footer__box
							a.footer__main-link(href="#") Сервисы
							a.footer__link(href="#") Поиск по сайту
							a.footer__link(href="#") Помощь
							a.footer__link(href="#") Обратная связь
	script(src="static/js/jquery-3.3.1.min.js")
	script(src="static/js/plugins.js")
	script(src="static/js/jquery.dropdown.min.js")
	script(src="static/js/main.js")