doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name="theme-color" content="#ff9800")
		meta(name="msapplication-navbutton-color" content="#ff9800")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="apple-touch-fullscreen" content="yes")
		link(rel="icon" type="image/x-icon" sizes="16x16" href="#")
		link(rel="icon" type="image/x-icon" sizes="32x32" href="#")
		link(rel="icon" type="image/png" sizes="50x50" href="#")
		link(rel="icon" type="image/png" sizes="60x60" href="#")
		link(rel="icon" type="image/png" sizes="72x72" href="#")
		link(rel="icon" type="image/png" sizes="76x76" href="#")
		link(rel="icon" type="image/png" sizes="114x114" href="#")
		link(rel="icon" type="image/png" sizes="120x120" href="#")
		link(rel="icon" type="image/png" sizes="144x144" href="#")
		link(rel="icon" type="image/png" sizes="152x152" href="#")
		meta(name="format-detection" content="telephone=no")
		title Cinarta
		link(rel="stylesheet" href="static/css/main.css")
	body.page-main
		ul.index__list
			li
				a.index__link(href="cinema.html") Киносфера
			li
				a.index__link(href="questions.html") Вопросы
			li
				a.index__link(href="casting.html") Кастинги
			li
				a.index__link(href="casting_card.html") Карточка кастинга
			li
				a.index__link(href="create_casting.html") Создать кастинг
			li
				a.index__link(href="create_casting_email.html") Создать кастинг (Email)
			li
				a.index__link(href="create_casting_whatsapp.html") Создать кастинг (Whatsapp)
			li
				a.index__link(href="news.html") Новости
			li
				a.index__link(href="subscription.html") Подписка(Акт)
			li
				a.index__link(href="partners.html") Партнеры
			li
				a.index__link(href="partner_page.html") Страница партнера
			li
				a.index__link(href="activation.html") Подписка(Неакт)
			li
				a.index__link(href="entrance.html") Вход
			li
				a.index__link(href="terms.html") Пользовательское соглашение
			li
				a.index__link(href="profile_info.html") Профиль (Информация)
			li
				a.index__link(href="profile_notifications.html") Оповещения
			li
				a.index__link(href="actors_card.html") Карточка актера
			li
				a.index__link(href="actors_card_base.html") Карточка актера (Моя база)
			li
				a.index__link(href="actors_card_reviews.html") Карточка актера (Отзыв)
			li
				a.index__link(href="actors_card_quarantines.html") Карточка актера (Карантин)
			li
				a.index__link(href="actors_card_reviews_2.html") Карточка актера (Отзыв 2)
			li
				a.index__link(href="actors_list.html") Список актеров
			li
				a.index__link(href="my_casting.html") Мои кастинги
			li
				a.index__link(href="my_casting_card.html") Мои кастинги (карточка)
			li
				a.index__link(href="jobs.html") Вакансии
			li
				a.index__link(href="create_job.html") Создать вакансию
			li
				a.index__link(href="view_job.html") Просмотр вакансии
			li
				a.index__link(href="my_jobs.html") Мои вакансии
			li
				a.index__link(href="entrance_partner.html") Вход для партнера
			li
				a.index__link(href="news_list.html") Список новостей
			li
				a.index__link(href="create_news.html") Создать новость
			li
				a.index__link(href="partner_page_2.html") Страница партнера (Новая)
			li
				a.index__link(href="partner_edit.html") Редактирование партнера
			li
				a.index__link(href="functional_development.html") Функционал в разработке
			li
				a.index__link(href="create_casting_new.html") Создать кастинг (Новая)
			li
				a.index__link(href="base-control-block.html") Моя база (Управление)
			li
				a.index__link(href="base-tariff-block.html") Моя база (Тариф)
			li
				a.index__link(href="base-manager-block.html") Моя база (Менеджеры)
			li
				a.index__link(href="base-project-block.html") Моя база (Проекты)
			li
				a.index__link(href="base-create-project-block.html") Моя база (Создать проект)