doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name="theme-color" content="#ff9800")
		meta(name="msapplication-navbutton-color" content="#ff9800")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="apple-touch-fullscreen" content="yes")
		link(rel="icon" type="image/x-icon" sizes="16x16" href="#")
		link(rel="icon" type="image/x-icon" sizes="32x32" href="#")
		link(rel="icon" type="image/png" sizes="50x50" href="#")
		link(rel="icon" type="image/png" sizes="60x60" href="#")
		link(rel="icon" type="image/png" sizes="72x72" href="#")
		link(rel="icon" type="image/png" sizes="76x76" href="#")
		link(rel="icon" type="image/png" sizes="114x114" href="#")
		link(rel="icon" type="image/png" sizes="120x120" href="#")
		link(rel="icon" type="image/png" sizes="144x144" href="#")
		link(rel="icon" type="image/png" sizes="152x152" href="#")
		meta(name="format-detection" content="telephone=no")
		title Cinarta
		link(rel="stylesheet" href="static/css/main.css")
	body
		svg(style="display:none")
			symbol(id="bubble" width="18" height="18")
				path(d="M16.795 3.732C15.99 2.58 14.9 1.67 13.52 1.002 12.141.334 10.634 0 9 0 7.781 0 6.616.197 5.505.592c-1.112.394-2.07.927-2.873 1.599A7.65 7.65 0 0 0 .713 4.587 6.289 6.289 0 0 0 0 7.499C0 8.67.303 9.768.909 10.79c.606 1.023 1.435 1.883 2.486 2.578-.074.312-.16.61-.261.89-.1.281-.191.512-.271.692-.08.18-.19.379-.327.597a6.059 6.059 0 0 1-.311.463l-.347.445a39.981 39.981 0 0 0-.391.51l-.07.1-.061.105c-.034.059-.049.096-.045.11a.36.36 0 0 1-.02.118c-.017.063-.015.11.005.14v.012c.027.141.085.254.175.34.09.086.193.121.307.105a6.596 6.596 0 0 0 1.145-.257c1.754-.524 3.295-1.469 4.62-2.836.503.063.988.094 1.457.094 1.634 0 3.14-.334 4.52-1.002 1.38-.668 2.471-1.578 3.275-2.73C17.598 10.113 18 8.858 18 7.5c0-1.36-.402-2.615-1.205-3.767z")
			symbol(id="caret-select" width="12" height="7" viewBox="0 0 12 7" xmlns="http://www.w3.org/2000/svg")
				path(d="M11.7772 0.230869C11.6289 0.0769137 11.4531 0 11.2499 0H0.750056C0.546802 0 0.371088 0.0769137 0.222628 0.230869C0.0741683 0.384994 0 0.567212 0 0.777863C0 0.988471 0.0741683 1.17069 0.222628 1.32469L5.47257 6.76896C5.6212 6.92292 5.79691 7 6 7C6.20309 7 6.37897 6.92292 6.52731 6.76896L11.7772 1.32464C11.9255 1.17069 12 0.988471 12 0.77782C12 0.567212 11.9255 0.384994 11.7772 0.230869Z")
			symbol(id="apple" width="19" height="23")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M13.974 0c.158 1.27-.423 2.542-1.284 3.459-.862.915-2.275 1.627-3.66 1.533-.187-1.244.512-2.54 1.31-3.352C11.23.725 12.735.044 13.975 0zm4.398 8.247c-.24.142-2.532 1.505-2.503 4.255.03 3.315 2.965 4.466 3.125 4.529l.006.002a2.286 2.286 0 0 0-.008.024c-.07.214-.541 1.665-1.608 3.162-.973 1.365-1.98 2.723-3.57 2.751-.765.014-1.275-.198-1.806-.418-.556-.231-1.133-.471-2.047-.471-.957 0-1.562.247-2.145.485-.504.207-.992.406-1.677.433-1.535.054-2.703-1.474-3.683-2.835C.45 17.384-1.081 12.306.976 8.878c1.02-1.702 2.847-2.78 4.827-2.808.855-.015 1.682.3 2.406.576.553.21 1.046.399 1.444.399.359 0 .839-.182 1.398-.394.881-.333 1.96-.741 3.07-.633.761.03 2.896.294 4.267 2.22a2.71 2.71 0 0 1-.017.01z" fill="#fff")
			symbol(id="android" width="21" height="24")
				path(d="M1.531 8h-.063C.659 8 0 8.638 0 9.416v6.167C0 16.363.66 17 1.468 17h.064C2.341 17 3 16.362 3 15.583V9.416C2.999 8.638 2.339 8 1.531 8zM4 17.869c0 .726.58 1.317 1.29 1.317h1.378v3.376c0 .793.632 1.438 1.403 1.438h.06c.775 0 1.406-.646 1.406-1.438v-3.376h1.926v3.376c0 .793.634 1.438 1.405 1.438h.06c.774 0 1.404-.646 1.404-1.438v-3.376h1.38c.708 0 1.288-.591 1.288-1.317V8H4v9.869z" fill="#fff")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M13.715 1.961L14.802.344a.217.217 0 0 0-.067-.307.234.234 0 0 0-.32.065l-1.127 1.673a7.595 7.595 0 0 0-2.788-.522c-.998 0-1.941.188-2.789.522L6.586.102a.237.237 0 0 0-.321-.065.218.218 0 0 0-.068.307l1.088 1.617C5.323 2.887 4 4.633 4 6.635A4 4 0 0 0 4.019 7h12.963c.011-.12.018-.241.018-.365 0-2.002-1.324-3.748-3.285-4.674zm-6.22 2.895a.612.612 0 0 1-.624-.6c0-.333.28-.6.624-.6a.61.61 0 0 1 .624.6c0 .333-.28.6-.624.6zm5.385-.6c0 .333.28.6.624.6a.61.61 0 0 0 .623-.6.61.61 0 0 0-.623-.6.611.611 0 0 0-.624.6z" fill="#fff")
				path(d="M19.531 8h-.061C18.661 8 18 8.638 18 9.416v6.167c0 .78.663 1.417 1.47 1.417h.062c.81 0 1.468-.638 1.468-1.417V9.416C21 8.638 20.34 8 19.531 8z" fill="#fff")
			symbol(id="sort-card" width="20" height="18" viewBox="0 0 20 18")
				rect(width="4" height="4")
				rect(y="7" width="4" height="4")
				rect(y="14" width="4" height="4")
				rect(x="8" width="4" height="4")
				rect(x="8" y="7" width="4" height="4")
				rect(x="8" y="14" width="4" height="4")
				rect(x="16" width="4" height="4")
				rect(x="16" y="7" width="4" height="4")
				rect(x="16" y="14" width="4" height="4")
			symbol(id="sort-list" width="22" height="17" viewBox="0 0 22 17")
				path(d="M2.829 6.635a2.1 2.1 0 0 0-1.543.635 2.1 2.1 0 0 0-.635 1.543 2.1 2.1 0 0 0 .636 1.542 2.1 2.1 0 0 0 1.542.635 2.1 2.1 0 0 0 1.542-.635 2.1 2.1 0 0 0 .636-1.542A2.1 2.1 0 0 0 4.37 7.27a2.1 2.1 0 0 0-1.542-.635zM2.829.828a2.1 2.1 0 0 0-1.543.635 2.1 2.1 0 0 0-.635 1.543 2.1 2.1 0 0 0 .635 1.542 2.1 2.1 0 0 0 1.543.635 2.1 2.1 0 0 0 1.542-.635 2.1 2.1 0 0 0 .635-1.542 2.1 2.1 0 0 0-.635-1.543A2.1 2.1 0 0 0 2.83.828zM2.829 12.442a2.1 2.1 0 0 0-1.543.635 2.1 2.1 0 0 0-.635 1.542 2.1 2.1 0 0 0 .635 1.543 2.1 2.1 0 0 0 1.543.635 2.1 2.1 0 0 0 1.542-.635 2.1 2.1 0 0 0 .635-1.543 2.1 2.1 0 0 0-.635-1.542 2.1 2.1 0 0 0-1.542-.635zM21.867 1.662a.35.35 0 0 0-.255-.108H7.82a.349.349 0 0 0-.255.108.35.35 0 0 0-.108.255v2.178a.35.35 0 0 0 .108.255.35.35 0 0 0 .255.107h13.79a.35.35 0 0 0 .256-.107.349.349 0 0 0 .108-.255V1.917a.35.35 0 0 0-.108-.255zM21.612 7.361H7.82a.348.348 0 0 0-.255.108.349.349 0 0 0-.108.255V9.9c0 .099.036.184.108.255a.348.348 0 0 0 .255.108h13.79a.348.348 0 0 0 .256-.107.348.348 0 0 0 .108-.256V7.724a.349.349 0 0 0-.108-.255.35.35 0 0 0-.255-.108zM21.612 13.168H7.82a.348.348 0 0 0-.255.107.349.349 0 0 0-.108.255v2.178a.35.35 0 0 0 .108.255.349.349 0 0 0 .255.108h13.79a.35.35 0 0 0 .256-.108.349.349 0 0 0 .108-.255V13.53a.349.349 0 0 0-.108-.255.35.35 0 0 0-.255-.107z")
			symbol(id="edit" width="21" height="22")
				path(d="M18.762 13.572a.5.5 0 0 0-.499.5v4.432A1.5 1.5 0 0 1 16.766 20H2.758a1.5 1.5 0 0 1-1.498-1.497V5.496a1.5 1.5 0 0 1 1.498-1.498H7.19a.5.5 0 1 0 0-.998H2.758A2.499 2.499 0 0 0 .262 5.496v13.008A2.499 2.499 0 0 0 2.758 21h14.008a2.499 2.499 0 0 0 2.496-2.496v-4.432a.5.5 0 0 0-.5-.5z" fill="#000")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M15.734 1.674a2.301 2.301 0 0 1 3.255 0l.6.6c.897.9.897 2.355 0 3.254l-9.123 9.122a.511.511 0 0 1-.225.132l-4.331 1.2a.512.512 0 0 1-.63-.63l1.2-4.33a.511.511 0 0 1 .131-.226l9.123-9.122zm-.542 1.988L7.726 11.13l2.407 2.407L17.6 6.07l-2.408-2.408zm-7.947 8.432l1.923 1.923-2.66.738.737-2.661zm11.078-6.747l.543-.542a1.28 1.28 0 0 0 0-1.808l-.6-.6c-.5-.5-1.31-.5-1.808 0l-.543.542 2.408 2.408z" fill="#000")
			symbol(id="star" width="14" height="13")
				path(d="M7.676.408l1.579 3.107c.11.216.322.366.568.4l3.53.498c.62.088.866.825.418 1.249L11.216 8.08a.72.72 0 0 0-.216.648l.603 3.414c.106.598-.541 1.054-1.094.772L7.35 11.302a.775.775 0 0 0-.702 0l-3.158 1.612c-.553.283-1.2-.174-1.094-.772L3 8.728a.719.719 0 0 0-.217-.648L.228 5.662c-.447-.424-.2-1.162.418-1.249l3.531-.498a.753.753 0 0 0 .568-.4L6.325.408c.275-.544 1.074-.544 1.35 0z")
		header#header.page-header
			.wrapper
				.page-header__row
					.page-header__logo
						a(href="index.html")
							img(src="static/img/cinarta.svg", alt="Cinarta")
					nav.page-header__nav
						ul.page__list
							li
								a(href="#") Кастинги
							li
								a(href="#") Киносфера
							li
								a(href="#") Вакансии
							li
								a(href="#") Партнеры
							li
								a(href="#") Обратная связь
					a.page-header__toggle(href="#" data-toggle="modal" data-target="#header-menu")
						span
					.page-header__user-wrapper
						a.notifications-link(href="#")
							svg.bubble--icon(width="18" height="18")
								use(xlink:href="#bubble")
							span.buble-number 4
						button.button.button--exit(type="button" data-jq-dropdown="#jq-dropdown-1")
							.page-header__user
								.user__photo
									img(src="static/img/katya.png", alt="")
								span.user__name Екатерина 
									br
									| Тутубалина
								svg.exit--icon(width="12" height="7")
									use(xlink:href="#caret-select")
						#jq-dropdown-1.jq-dropdown.jq-dropdown-tip.jq-dropdown-relative.jq-dropdown-anchor-right
							.jq-dropdown-menu.page-header__user-menu
								a(href="activation.html") Подписка
								a(href="profile_info.html") Мой профиль
								a(href="#") Настройки
								a(href="#") Помощь
								a(href="#") Выйти
			.page-header__menu.popup-block#header-menu
				.inner__menu
					a.page-header__toggle.close-button(href="#" data-toggle="dismiss")
						span
					nav.page-header__nav
						ul.page__list
							li
								a(href="#") Кастинги
							li
								a(href="#") Киносфера
							li
								a(href="#") Вакансии
							li
								a(href="#") Приложение
							li
								a(href="#") Обратная связь
		.main-page-wrap
			.main-page-blocks
				section.view-job
					.wrapper
						.breadcrumbs
							ul.page__list
								li
									a(href="index.html") Главная
								li
									a(href="casting.html") Кастинги
								li
									span Социальный ролик "Солдат"
						.my-casting-card__container
							.my-casting-card__photo-block
								.my-casting-card__photo
									img(src="static/img/job-picture.jpg", alt="")
								button.button.button--edit(type="button") Редактировать
									svg.card--edit(width="21" height="22")
										use(xlink:href="#edit")
								button.button.button--delete(type="button") Удалить
							.my-casting-card__heading
								h1 Исполнительный продюсер
								.my-casting-card__heading-wrapper
									span Подано заявок: 
										b 1
									span до 10 февраля 2019 г.
								.my-casting-card__options-block
									.my-casting-card__option
										span.my-casting-card__name Страна
										b.my-casting-card__value Россия
									.my-casting-card__option
										span.my-casting-card__name Город
										b.my-casting-card__value Москва
									.my-casting-card__option
										span.my-casting-card__name Специализации:
										b.my-casting-card__value Актер, Актер любитель, Модель
								p.my-casting-card__heading-text Обязанности:
									br
									| – просчет проектов, составление смет
									br
									| - одновременное ведение сразу нескольких проектов с разными бюджетами
									br
									| – воплощение самого безумного и сумасшедшего креатива
									br 
									| не смотря на возникающие проблемы уметь их спокойно и последовательно решать
									br
									| Требования:
									br
									| – знание всех этапов съемочного процесса
									br
									| наличие базы профессиональных подрядчиков и их готовность работы по пост-оплате
									br
									| – быстрый поиск специалистов под проект
									br
									| поиск оптимальных производственных решений
									br
									| – умение быстро просчитывать клиентские брифы на уровне концептов
									br
									| – отличные коммуникационные скиллы
									br
									| – опыт продюсирования проектов с бюджетом от 1 млн руб
									br
									| Условия:
									br
									| 5/2, полный рабочий день с 10:00 до 19:00
						.my-casting-card__sort-list
							.my-casting-card__sort-wrapper
								h3 Заявки
								button.button.button--cons(type="button") На рассмотрении (24)
								button.button.button--ok(type="button") Одобренные (0)
							.my-casting__sort-block
								button.button.active(type="button" data-toggle="my-casting-card-tab" data-target="#my-casting-card-tab-1")
									svg(width="20" height="18")
										use(xlink:href="#sort-card")
								button.button(type="button" data-toggle="my-casting-card-tab" data-target="#my-casting-card-tab-2")
									svg(width="22" height="17")
										use(xlink:href="#sort-list")
						.my-casting-card__tab-content.active#my-casting-card-tab-1
							.my-casting-card__request-row
								.my-casting-card__request-row-block
									.my-casting-card__request-row-heading
										.my-casting-card__request-row-photo
											img(src="static/img/olesia.jpg", alt="")
										.my-casting-card__request-row-body
											h3 Олеся Кузина
											.my-casting-card__request-option
												span.my-casting-card__option-name Возраст:
												b.my-casting-card__option-value 24 года
											a.view-job__contact-link(href="tel:+79267760196") +79267760196
											a.view-job__contact-link(href="mailto:diana_gum@list.ru") diana_gum@list.ru
											span Москва (Россия)
											a.my-casting-card__favorite-link(href="#") В избранное
												svg.card--star(width="14" height="13")
													use(xlink:href="#star")
								.my-casting-card__request-row-block
									.my-casting-card__request-row-heading
										.my-casting-card__request-row-photo
											img(src="static/img/anna-ladnaya.jpg", alt="")
										.my-casting-card__request-row-body
											h3 Олеся Кузина
											.my-casting-card__request-option
												span.my-casting-card__option-name Возраст:
												b.my-casting-card__option-value 24 года
											a.view-job__contact-link(href="tel:+79267760196") +79267760196
											a.view-job__contact-link(href="mailto:diana_gum@list.ru") diana_gum@list.ru
											span Москва (Россия)
											a.my-casting-card__favorite-link(href="#") В избранное
												svg.card--star(width="14" height="13")
													use(xlink:href="#star")
								.my-casting-card__request-row-block
									.my-casting-card__request-row-heading
										.my-casting-card__request-row-photo
											img(src="static/img/olesia.jpg", alt="")
										.my-casting-card__request-row-body
											h3 Олеся Кузина
											.my-casting-card__request-option
												span.my-casting-card__option-name Возраст:
												b.my-casting-card__option-value 24 года
											a.view-job__contact-link(href="tel:+79267760196") +79267760196
											a.view-job__contact-link(href="mailto:diana_gum@list.ru") diana_gum@list.ru
											span Москва (Россия)
											a.my-casting-card__favorite-link(href="#") В избранное
												svg.card--star(width="14" height="13")
													use(xlink:href="#star")
						.my-casting-card__tab-content#my-casting-card-tab-2
							.my-casting-card__request-list
								.my-casting-card__request-list-block
									.my-casting-card__request-list-heading
										.my-casting-card__request-list-photo
											img(src="static/img/olesia.jpg", alt="")
										.my-casting-card__request-list-body
											.my-casting-card__request-option
												.view-job__name
													h3 Олеся Кузина
													span.my-casting-card__option-name Возраст:
													b.my-casting-card__option-value 24 года
												.view-job__contacts
													a.view-job__contact-link(href="tel:+79267760196") +79267760196
													a.view-job__contact-link(href="mailto:diana_gum@list.ru") diana_gum@list.ru
											.view-job__info
												a.my-casting-card__favorite-link(href="#") В избранное
													svg.card--star(width="14" height="13")
														use(xlink:href="#star")
												span Москва (Россия)
								.my-casting-card__request-list-block
									.my-casting-card__request-list-heading
										.my-casting-card__request-list-photo
											img(src="static/img/anna-ladnaya.jpg", alt="")
										.my-casting-card__request-list-body
											.my-casting-card__request-option
												.view-job__name
													h3 Олеся Кузина
													span.my-casting-card__option-name Возраст:
													b.my-casting-card__option-value 24 года
												.view-job__contacts
													a.view-job__contact-link(href="tel:+79267760196") +79267760196
													a.view-job__contact-link(href="mailto:diana_gum@list.ru") diana_gum@list.ru
											.view-job__info
												a.my-casting-card__favorite-link(href="#") В избранное
													svg.card--star(width="14" height="13")
														use(xlink:href="#star")
												span Москва (Россия)
			footer.main-footer
				.wrapper
					.main-footer__container
						.main-footer__content
							.footer__box
								img(src="static/img/footer_cinarta.svg", alt="Логотип")
								p.copyright__text © 2018, «Синарта» поиск исполнителей
							.footer__box
								span.app__title Скачать приложение
								.apps__box
									a.apps__link(href="#")
										svg(width="19" height="23")
											use(xlink:href="#apple")
									a.apps__link(href="#")
										svg(width="21" height="24")
											use(xlink:href="#android")
								a.footer__link(href="#") Пользовательськое соглашение
								a.footer__link(href="#") Политика конфиденциальности
						.footer__box
							a.footer__main-link(href="#") Мой профиль
							a.footer__link(href="entrance.html") Вход
							a.footer__link(href="#") Вакансии
							a.footer__link(href="#") Сообщения
							a.footer__link(href="casting.html") Кастинги
						.footer__box
							a.footer__main-link(href="#") Найти исполнителя
							a.footer__link(href="#") Создать вакансию
							a.footer__link(href="actors_list.html") Найти актера
							a.footer__link(href="create_casting.html") Создать кастинг
							a.footer__link(href="cinema.html") Киносфера
						.footer__box
							a.footer__main-link(href="#") Сервисы
							a.footer__link(href="#") Поиск по сайту
							a.footer__link(href="#") Помощь
							a.footer__link(href="#") Обратная связь
	script(src="static/js/jquery-3.3.1.min.js")
	script(src="static/js/plugins.js")
	script(src="static/js/jquery.dropdown.min.js")
	script(src="static/js/main.js")